@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 217.2 91.2% 59.8%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 224.3 76.3% 48%;
    }
}

.rbc-row-resource {
    height: 60px;
}

.rbc-header {
    color: hsl(var(--ring));
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 30px;
}

.rbc-month-row {
    height: 100px;
}

.rbc-allday-cell {
    display: none;
}

.rbc-time-header-cell .rbc-today {
    background-color: hsl(var(--muted)) !important;
}

.rbc-time-slot {
    color: #8c9ba4;
    z-index: -1;
}

.rbc-time-slot:not(.rbc-today .rbc-time-slot) {
    background-color: #ffffff;
    z-index: 1;
}

/*Event Styles*/
.rbc-event,
.rbc-background-event {
    z-index: 1;
    padding: 0px !important;
    border: none !important;
    background-color: unset !important;
}

.rbc-event-label {
    display: none !important;
}

.rbc-events-container {
    width: 100% !important;
}

/*Timeslots Customization*/
/* .rbc-day-slot .rbc-time-slot:after {
    content: "";
    width: 100%;
    border-top: 1px solid #fbb3ec;
    display: block;
  } */

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        @apply overflow-y-auto;
    }
}
